<main>
  <div class="header" id="myHeader">
    <h1>Spread Love ✨💜</h1>
  </div>
  <div>
    <h3>Yesterday is not ours to recover, but tomorrow is ours to win or lose. &nbsp; -Lyndon B. Johnson</h3>
    <h2>Lets not give in to fear and panic. instead, spread some good news! scrool down for more</h2>
  </div>
  <ol class="gradient-list">
      <li *ngFor="let submission of submissions; let i = index"><a href={{submission.url}} target="_blank">{{submission.title}}</a></li>
  </ol>

  <p class="footer">
    by @<a href="https://twitter.com/sufferd1st" target="_blank" class="footer">solomon</a>. I work for <a href="https://www.coda.global" target="_blank" class="footer">coda global</a>
  </p>
</main>